#navigator-toolbox {
  --zen-navigation-toolbar-min-width: 100px !important;
}

:root[zen-compact-mode="true"] #navigator-toolbox {
  margin-top: 9.375vh !important;
  height: 75vh !important;
}

tab-group {
  display: grid !important;
  row-gap: 1px !important;
  margin-bottom: 4px;
  border: 2px solid color-mix(in srgb, var(--tab-group-color-invert) 10%, transparent);
  border-radius: var(--border-radius-medium);
  background: color-mix(in srgb, var(--tab-group-color-invert) 15%, transparent) !important;

  & tab {
    margin-left: 2px !important;
  }

  & .tab-group-label-container {
    & > label {
      background: transparent !important;
      color: transparent !important;
      outline: none !important;
    }

    & > label::before {
      content: "" !important;
      position: absolute !important;
      left: 10px !important;
      top: 18%;
      width: 16px !important;
      height: 16px !important;
      background-color: color-mix(in srgb, var(--tab-group-color-invert) 100%, transparent);
      mask-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMjAgOS41MDJWOC43NWEyLjI1IDIuMjUgMCAwIDAtMi4yNS0yLjI1aC01LjcyNWwtMi4zOC0xLjk4QTIuMjUgMi4yNSAwIDAgMCA4LjIwNCA0SDQuMjVBMi4yNSAyLjI1IDAgMCAwIDIgNi4yNWwtLjAwNCAxMS41QTIuMjUgMi4yNSAwIDAgMCA0LjI0NiAyMEgxOC40N2ExLjc1IDEuNzUgMCAwIDAgMS42OTgtMS4zMjVsMS43NS02Ljk5OGExLjc1IDEuNzUgMCAwIDAtMS42OTgtMi4xNzVIMjBaTTQuMjUgNS41aDMuOTU2YS43NS43NSAwIDAgMSAuNDguMTczbDIuNTg4IDIuMTU0YS43NS43NSAwIDAgMCAuNDguMTczaDUuOTk2YS43NS43NSAwIDAgMSAuNzUuNzV2Ljc1Mkg2LjQyNGEyLjI1IDIuMjUgMCAwIDAtMi4xODMgMS43MDRsLS43NDQgMi45NzhMMy41IDYuMjVhLjc1Ljc1IDAgMCAxIC43NS0uNzVabTEuNDQ3IDYuMDdhLjc1Ljc1IDAgMCAxIC43MjctLjU2OEgyMC4yMmEuMjUuMjUgMCAwIDEgLjI0Mi4zMWwtMS43NSA2Ljk5OWEuMjUuMjUgMCAwIDEtLjI0Mi4xODlINC4yODVhLjI1LjI1IDAgMCAxLS4yNDMtLjMxbDEuNjU1LTYuNjJaIiBmaWxsPSIjMDAwMDAwIi8+PC9zdmc+');
      mask-size: contain;
      mask-repeat: no-repeat;
      background-size: cover !important;
      background-repeat: no-repeat !important;
    }
  }

  &[collapsed] {
    max-height: 3.5rem !important;
    overflow: hidden !important;

    & .tab-group-label-container {
      & > label {
        background: transparent !important;
        color: transparent !important;
        outline: none !important;
      }

      & > label::before {
        content: "" !important;
        position: absolute !important;
        left: 10px !important;
        top: 18%;
        width: 16px !important;
        height: 16px !important;
        background-color: color-mix(in srgb, var(--tab-group-color-invert) 100%, transparent);
        mask-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC4yMDcgNGMuNDYgMCAuOTA4LjE0MSAxLjI4NC40MDJsLjE1Ni4xMkwxMi4wMjIgNi41aDcuNzI4YTIuMjUgMi4yNSAwIDAgMSAyLjIyOSAxLjkzOGwuMDE2LjE1OC4wMDUuMTU0djlhMi4yNSAyLjI1IDAgMCAxLTIuMDk2IDIuMjQ1TDE5Ljc1IDIwSDQuMjVhMi4yNSAyLjI1IDAgMCAxLTIuMjQ1LTIuMDk2TDIgMTcuNzVWNi4yNWEyLjI1IDIuMjUgMCAwIDEgMi4wOTYtMi4yNDVMNC4yNSA0aDMuOTU3Wm0xLjQ0IDUuOTc5YTIuMjUgMi4yNSAwIDAgMS0xLjI0NC41MTJsLS4xOTYuMDA5LTQuNzA3LS4wMDF2Ny4yNTFjMCAuMzguMjgyLjY5NC42NDguNzQzbC4xMDIuMDA3aDE1LjVhLjc1Ljc1IDAgMCAwIC43NDMtLjY0OGwuMDA3LS4xMDJ2LTlhLjc1Ljc1IDAgMCAwLS42NDgtLjc0M0wxOS43NSA4aC03LjcyOUw5LjY0NyA5Ljk3OVpNOC4yMDcgNS41SDQuMjVhLjc1Ljc1IDAgMCAwLS43NDMuNjQ4TDMuNSA2LjI1djIuNzQ5TDguMjA3IDlhLjc1Ljc1IDAgMCAwIC4zOTUtLjExM2wuMDg1LS4wNiAxLjg5MS0xLjU3OC0xLjg5LTEuNTc1YS43NS43NSAwIDAgMC0uMzc3LS4xNjdMOC4yMDcgNS41WiIgZmlsbD0iIzAwMDAwMCIvPjwvc3ZnPg==');
        mask-size: contain;
        mask-repeat: no-repeat;
        background-size: cover !important;
        background-repeat: no-repeat !important;
      }
    }
  }
}

/* On sidebar expanded */
@media (-moz-bool-pref: "zen.view.sidebar-expanded") {
  tab-group {
    & tab {
      margin-left: 0px !important;
    }

    & .tab-group-label-container {

      & > label {
        color: color-mix(in srgb, var(--tab-group-color-invert) 100%, transparent) !important;
        padding-left: 22px !important;
      }

      & > label::before {
        left: 0px !important;
      }
    }

    &[collapsed] {
      & .tab-group-label-container {
        & > label {
          color: color-mix(in srgb, var(--tab-group-color-invert) 100%, transparent) !important;
          padding-left: 22px !important;
        }

        & > label::before {
          left: 0px !important;
        }
      }
    }
  }
}
